@import url('https://unpkg.com/github-markdown-css/github-markdown-light.css');

.dark-theme,
html[data-theme=dark] {
    --ls-primary-background-color: #111a2ae8;
    --ls-secondary-background-color: #202a3af2;
    --ls-tertiary-background-color: #323232;
    --ls-quaternary-background-color: #004876d4;
    --ls-guideline-color: #33476082;
    --ls-selection-background-color: #21A4E16E;
    --ls-active-primary-color: #2db4ddcf;
    --ls-active-secondary-color: #efe8fb;
    --ls-block-bullet-border-color: var(--ls-quaternary-background-color);
    --ls-block-bullet-color: #f0f8ff96;
    --ls-link-text-color: #bfe3f1d9;
    --ls-primary-text-color: #e4f7f9;
    --ls-secondary-text-color: #4fa6ff;
}
.bg-indigo-600 {
    background-color: var(--ls-guideline-color);
}

.bg-indigo-600:hover {
    background-color: var(--ls-selection-background-color);
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.canceled, .cancelled, .done {
  opacity: 1.0;
  text-decoration: none;
  color:chocolate;
}

a[priority],
a.priority {
  font-size: 0px;
  /* Hide text */
}

a[priority=A]::before,
a.priority[href="#/page/A" i]:before {
  content: "A";
  background: red !important;
  color: #000;
  opacity: 1.0;
}

a[priority=B]::before,
a.priority[href="#/page/B" i]:before {
  content: "B";
  background: orangered;
  color: #000;
}

a[priority=C]::before,
a.priority[href="#/page/C" i]:before {
  content: "C";
  background: green;
  color: #fff;
}

a[priority=D]::before,
a.priority[href="#/page/D" i]:before {
  content: "D";
  background: blue;
  color: #fff;
}

a[priority]::before,
a.priority::before {
  transform: translateY(-1px);
  border: 0px solid #000000;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  height: 16px;
  width: 16px;
  line-height: 1.5;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Code", monospace;
}

a.tooltip-priority:first-of-type::before {
  margin-left: 0.3em;
  margin-top: 0.5em;
}



video,
iframe[id^='youtube-player'], 
iframe[src*='youtube-nocookie.com'],
iframe[src*='player.vimeo'],
iframe[src$='.mp4'],
iframe[src$='.mkv'] {
  height: 500px;
  width: auto;
}
