@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@main/custom.css");
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

video,
iframe[id^='youtube-player'], 
iframe[src*='youtube-nocookie.com'],
iframe[src*='player.vimeo'],
iframe[src$='.mp4'],
iframe[src$='.mkv'] {
  height: 500px;
  width: auto;
}


i {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}